.DS_Store
node_modules
/build
/.svelte-kit
/package
/test-results
.env
.env.preview
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.idea/fileTemplates
.idea/markdown.xml
.idea/workspace.xml
.idea/aws.xml
.idea/vcs.xml
.vercel
.env.development.local
.env.production
.env.production.local
.env.local
*.pem
/images
/.idea
